.dashbord{
    box-sizing: border-box;

position: relative;
width: 1440px;
height: 1700px;

background: #CECECE;
border: 5px solid #000000;
}
.header{
    box-sizing: border-box;

position: absolute;
width: 1440px;
height: 154px;
left: 0px;
top: 0px;

background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.3);
border-radius: 15px;
}
.biruSky{
    position: absolute;
width: 670px;
height: 100px;
left: 150px;
top: 25px;

background: skyblue;
border-radius: 1000px;
}
.pil{
position: absolute;
left: 15%;
right: auto;
top: 0px;
bottom: 75%;
font-family: 'Hanuman';
font-style: normal;
font-weight: 100px;
font-size: 110px;
color: #59B1FF;
text-shadow: 8px 0px 0px rgba(0, 0, 0, 0.8);
}
.footer{
    position: absolute;
width: 1440px;
height: 233px;
left: 0px;
top: 1467px;
background-color: #FFFFFF;
filter: drop-shadow(0px -11px 10px rgba(0, 0, 0, 0.3));
}

.menuGaris{
    position: absolute;
width: 100px;
height: 100px;
left: 5px;
top: 30px;
}

.menuKotak1{
    position: absolute;
width: 511px;
height: 330px;
left: 100px;
top: 361px;
background: #FFFFFF;
box-shadow: 0px 0px 15px #000000;
border-radius: 30px;
}
.menuKotak2{
    position: absolute;
width: 511px;
height: 330px;
left: 850px;
top: 361px;
background: #FFFFFF;
box-shadow: 0px 0px 15px #000000;
border-radius: 30px;
}
.menuKotak3{
    position: absolute;
width: 511px;
height: 330px;
left: 100px;
top: 969px;
background: #FFFFFF;
box-shadow: 0px 0px 15px #000000;
border-radius: 30px;
}
.menuKotak4{
    position: absolute;
width: 511px;
height: 330px;
left: 850px;
top: 969px;
background: #FFFFFF;
box-shadow: 0px 0px 15px #000000;
border-radius: 30px;
}

.user{
    position: absolute;
width: 73px;
height: 40px;
left: 1247px;
top: 61px;
font-family: 'Libre Franklin';
font-style: normal;
font-weight: 500;
font-size: 33px;
line-height: 40px;
/* identical to box height */
color: #000000;
}

.userBulat{
    position: absolute;
width: 60px;
height: 60px;
left: 1172px;
top: 47px;
background: #FFFFFF;
box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.9);
border-radius: 30px;
}

.kepalaBiru{
    position: absolute;
width: 24px;
height: 24px;
left: 18px;
top: 10px;
background: #3D64B5;
border-radius: 24px;
}

.awakKotak{
    position: absolute;
width: 90px;
height: 90px;
left: -15px;
top: 40px;
background: #3D64B5;
border-radius: 90px;
}

.tulisan1{
    position: absolute;
width: 455px;
height: 92px;
left: 155px;
top: 585px;
font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 63px;
line-height: 92px;
color: #000000;
}
.tulisan2{
    position: absolute;
    width: 339px;
    height: 68px;
    left: 949px;
    top: 597px;
font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 63px;
line-height: 92px;
color: #000000;
}
.tulisan3{
    position: absolute;
    width: 486px;
    height: 51px;
    left: 125px;
    top: 1216px;    
font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 63px;
line-height: 92px;
color: #000000;
}
.tulisan4{
    position: absolute;
    width: 497px;
    height: 51px;
    left: 864px;
    top: 1216px;
font-family: 'Hanuman';
font-style: normal;
font-weight: 400;
font-size: 63px;
line-height: 92px;
color: #000000;
}

.pilkomBawah{
    position: absolute;
left: 5%;
right: 10px;
top: 1460px;
bottom: 75%;
font-family: 'Hanuman';
font-style: normal;
font-weight: 100px;
font-size: 110px;
color: #59B1FF;
text-shadow: 8px 0px 0px rgba(0, 0, 0, 0.8);
}

.tigaOrang{
    position: absolute;
width: 220px;
height: 250px;
left: 255px;
top: 361px;
}

.bukuBiru{
    position: absolute;
width: 210px;
height: 230px;
left: 1013px;
top: 375px;
}
.bukuMinjam{
    position: absolute;
width: 200px;
height: 200px;
left: 255px;
top: 990px;

}
.bukuKembali{
    position: absolute;
width: 240px;
height: 240px;
left: 1000px;
top: 980px;

}
